/*********************************
*** Déclarations des variables ***
*********************************/

$primary-color: #424446;
$secondary-color: #96999C;
$accent-color1: #0068D3;
$accent-color2: #4AD133;
$alert-color: #E23811;
$caution-color: #F9BF10;

$radius: 7px;





/***********************
*** Style de la page ***
***********************/

body {
  color: $primary-color;
}

main {
  width: 90%;
  margin: 2rem auto 5rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &>section {
    flex: 0 1 auto;
    padding: 1rem;
    width: 400px;
    margin: 2rem 0;

    &.title {
      width: 100%;
    }
  }

  /*section:nth-child(odd) {
    background-color: lighten($accent-color1,30%);
  }

  section:nth-child(even) {
    background-color: lighten($accent-color2,30%);
  }//*/
}

/************************
*** Style de l'entête ***
************************/
header {
	background-color: $primary-color;
  color: white;
	margin-bottom: 0.6rem;
  border-bottom: 0.9rem solid $accent-color1;
  box-shadow: 0 0.6rem 0 0 $accent-color2;

  &.noMenu {
    padding: 1.5rem 2.5rem;

    @media screen and (max-width: 670px) {
      h1 {font-size: 2em;}
    }

    img {
      vertical-align: -0.8em;
      width: 7.25em;
    }
  }

  &.menu {
    padding: 1rem 2.5rem 0 2.5rem;

    a img {
      width: 180px;
      max-width: 80%;
    }

    .greetings {
      display: block;

      span:first-child {margin-right: 1rem;}
    }


    @media screen and (min-width: 600px) {
      .greetings {
        float: right;
        display: inline-block;
        margin-right: 2rem;

        span {
          display: block;
          line-height: 1;
        }
      }
    }

    nav {
      position: relative;

      #menuIcon {
        float: right;
        display: block;
        font-size: 2.2em;
        top: -1rem;
      }
    }
  }
}

#mainMenu {
  display: none;

  &.open {
    display: block;

    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 0.75em 0;

      &.sub {
        padding-top: 0;

        &::before {
          content: '';
          display: inline-block;
          width: 1.25rem;
          height: 1.1rem;
          margin-right: 0.75rem;
          background-image: url('../icons/sub.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    @media screen and (min-width: 600px) {
      display: block;
      background-color: $primary-color;
      position: absolute;
      right: -1rem;

      a { padding: 0.5em 1.5em;}
    }

    @media screen and (max-width: 599px) {
      &.open~.greetings {display: none;}
    }
  }
}





/***********************************
*** Style de la boîte de message ***
***********************************/

#message {
  padding: 1rem 2rem;
  text-align: center;
  display: none;

  &.alert {
    border-bottom: 1px solid $alert-color;
    background-color: lighten($alert-color, 45%);
    color: darken($alert-color, 20%);
  }

  &.success {
    border-bottom: 1px solid $accent-color2;
    background-color: lighten($accent-color2, 45%);
    color: darken($accent-color2, 20%);
  }

  &.caution {
    border-bottom: 1px solid $caution-color;
    background-color: lighten($caution-color, 35%);
    color: darken($caution-color, 25%);
  }

  &.accent {
    border-bottom: 1px solid $accent-color1;
    background-color: lighten($accent-color1, 45%);
    color: darken($accent-color1, 20%);
  }
}

/***********************
*** Style des titres ***
***********************/

h1 {
	font-size: 2.5em;
	font-weight: 300;
	margin: 1em 0 0 0;
}
h2 {
	font-size: 1.7em;
	font-weight: 300;
	margin: 0.75em 0 0 0;
}
h3, .h3-like {
	font-size: 1.2em;
	font-weight: 600;
	margin: .5em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}


/*********************
*** Style de liens ***
*********************/
a {
  color: $accent-color1;
}


/***********************
*** Style des icones ***
***********************/
.icon {
  font-family: 'Material Icons';
  font-style: normal;
  position: relative;
  top: 0.15em;
  cursor: pointer;

  /*** Frequently used ***
  settings    : engrenage
  edit        : crayon
  visibility  : oeil
  list        : Liste
  chat        : Bulle de texte pleine avec texte
  chat_bubble : Bulle de texte pleine sans texte
  chat_bubble_outline : Bulle de texte vide
  publish     : Flèche haut
  ***********************/
}


/*******************************
*** Style de details/summary ***
*******************************/
.details {
  .summary { cursor: pointer; }

  &>*:not(.summary) { display: none; }
}


/****************************
*** Style des définitions ***
****************************/
.definition {
  padding-left: 2rem;
  position: relative;

  .definitionTerm {
    font-weight: 600;
    position: relative;
    left: -2rem;
    margin-right: 1rem;
  }
}


/*********************************
*** Style de ligne horizontale ***
*********************************/

hr {
    border: 0;
   	height: 1px;
   	margin: 1px;
   	background-image: linear-gradient(to right, hsla(0,0%,30%,0), hsla(0,0%,30%,0.3) 25%, hsla(0,0%,30%,0.3) 75%, hsla(0,0%,30%,0));
	}



/*************************
*** Styles utilitaires ***
*************************/

.centered {
  margin: auto;
}

.hidden {
  display: none;
}

.light {
  opacity: 0.75;
}

.lighter {
  opacity: 0.5;
}

/**************************
*** Styles des tableaux ***
**************************/

table {
  border: 1px solid $secondary-color;
  border-collapse: collapse;

  td, th {
    padding: 0.2rem 1rem;
  }

  thead, th {
    background-color: lighten($secondary-color,28%);
    font-weight: 600;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: lighten($secondary-color,36%);
  }

  tfoot {
    background-color: lighten($secondary-color,32%);
    font-weight: 600;
  }
}

/*************************
*** Styles des boutons ***
*************************/


button, .button, input[type=submit] {
  min-width: 6em;
  padding: 0.5em 1.25em;
  background-color: $accent-color1;
  color: white;
  border: none;
  margin: 1rem 2rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: $radius;

  &:hover { background-color: lighten($accent-color1, 5%); }

  &.secondary { background-color: $secondary-color;
    &:hover { background-color: lighten($secondary-color, 5%); }
  }

  &.alert { background-color: $alert-color;
    &:hover { background-color: lighten($alert-color, 5%); }
  }

  &.large { font-size: 1.5em; }

  &:disabled, &.disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  .icon:first-child:not(:last-child) {
    padding-right: 0.75em;
  }
}

.buttonBar {
  display: flex;
  flex-flow: column nowrap;

  button, .button {
    margin: 0 1rem 0.1rem 1rem;
    border-radius: 0em;

    &:first-child {
      margin: 2rem 1rem 0.1rem 1rem;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;

    }
    &:last-child {
      margin: 0 1rem 2rem 1rem;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

}

@media screen and (min-width: 600px) {
  .buttonBar {
    flex-flow: row nowrap;

    &.large button, &.large .button {font-size: 1.5em;}

    button, .button {
      margin: 1rem 0 1rem 0.1rem;

      &:first-child {
        margin: 1rem 0 1rem 2rem;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        border-top-right-radius: 0;
      }
      &:last-child {
        margin: 1rem 2rem 1rem 0.1rem;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        border-bottom-left-radius: 0;
      }
    }
  }
}


/****************************
*** Styles de formulaires ***
****************************/

input:not([type="checkbox"]):not([type="radio"]), select {
  width: 100%;
  height: 4.8rem;
  padding: 1rem;
  font-size: 1.25em;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid $secondary-color;

  &:not([type="submit"]) { background-color: white; }

  &.large {
    height: 7.2rem;
  }
}

input[type="checkbox"], input[type="radio"] {
  height: 1.35em;
  width: 1.35em;
  position: relative;
  top: 0.2em;
}

.inlineInput {
  display: flex;

  input, select {flex: 1 1 auto;}

  & *:not(input):not(select) {
    margin: 1rem 2rem 1rem 2rem;
    word-wrap: normal;
    flex: 0 0 auto;

    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 0;}

    &.accent, &.secondary {
      margin: 0;
      padding: 1rem 2rem 1rem 2rem;
      height: 4.8rem;
      border: 1px solid $secondary-color;

      &:first-child {border-right: none;}
      &:last-child {border-left: none;}
    }

    &.accent {
      //border: 1px solid darken($accent-color1,30%);
      background-color: $accent-color1;
      color: white;
    }

    &.secondary {
      background-color: lighten($secondary-color, 30%);
    }

  }
}

fieldset {
  border: 1px solid $primary-color;

  &>legend {
    font-weight: 600;
  }
}
